@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-ak-blue: var(--ak-blue);
  --color-ak-deep-blue: var(--ak-deep-blue);
  --color-light-mid-gray: var(--light-mid-gray);
  --color-light-gray: var(--light-gray);
  --color-mid-gray: var(--mid-gray);
  --color-dark-gray: var(--dark-gray);
  --color-black-gray: var(--black-gray);
  --color-ak-purple: var(--ak-purple);
  --color-ak-dark-purple: var(--ak-dark-purple);
  --color-ak-red: var(--ak-red);
  --color-ak-dark-red: var(--ak-dark-red);
  --color-ak-pink: var(--ak-pink);
  --color-semi-black: var(--semi-black);
  --color-black-gray-70: var(--black-gray-70);

  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* --container-center: true;
  --container-padding: 0.5rem;
  --container-padding-sm: 0.5rem;
  --container-padding-md: 1rem;
  --container-padding-lg: 2rem;
  --container-padding-xl: 4rem;
  --container-padding-2xl: 6rem; */

  --container-sm: 786px;
  --container-md: 992px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1280px;

  --aspect-ratio-banner: 96/35;

  --leading-12: 3rem;

  --shadow-outer-sm: 0 0 5px 1px currentColor;
  --shadow-outer-md: 0 0 8px 2px currentColor;
  --shadow-outer-lg: 0 0 10px 2px currentColor;
}

@utility container {
  margin-inline: auto;
  @variant sm {
    padding-inline: 0.5rem;
  }
    
  @variant md {
    padding-inline: 1rem;
  }
    
  @variant lg {
    padding-inline: 2rem;
  }
    
  @variant xl {
    padding-inline: 4rem;
  }
    
  @variant 2xl {
    padding-inline: 6rem;
  }
}

html,
body {
  background: #181818;
  font-size: 16px;
  color: white;
  min-height: 100vh;
}

@layer components {
  /* 自定义滚动条样式 */
  ::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #676767; /* 滚动条颜色 */
    border-radius: 9999px; /* 圆角效果 */
  }

  ::-webkit-scrollbar-track {
    background-color: #414141; /* 滚动条轨道背景 */
  }
}

@layer base {
  @font-face {
    font-family: "Novecento";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Novecento.woff2) format("woff2");
  }

  @font-face {
    font-family: "NovecentoWide";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NovecentoWide.ttf) format("truetype");
  }

  @font-face {
    font-family: "HanSans";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/SourceHanSansCN-Bold.subset.otf) format("opentype");
  }

  @font-face {
    font-family: "HanSerif";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/SourceHanSerifCN-Bold.subset.otf) format("opentype");
  }
}

.font-novecento {
  font-family: "Novecento", sans-serif;
  font-weight: 400;
}

.font-novecento-wide {
  font-family: "NovecentoWide", sans-serif;
  font-weight: 400;
}

.font-han-sans {
  font-family: "HanSans", sans-serif;
}

.font-han-serif {
  font-family: "HanSerif", sans-serif;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

:focus-visible {
  outline: none;
}

/* 响应式根节点字体大小调整 */

/* 默认字体大小：移动端友好，最小 14px，最大 18px */
html {
  overflow-x: hidden;

  /* 最小 14px，最大 16px */
  font-size: clamp(14px, 1vw + 0.3rem, 16px);
}

@media screen and (width >= 1440px) {
  html {
    font-size: clamp(14px, 0.8vw + 0.3rem, 16px);
  }
}

@media screen and (width >= 1920px) {
  html {
    font-size: 16px;
  }
}

/* @layer components {
  @media (min-width: 640px) {
    .container {
      max-width: 786px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 992px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
} */

button,
[role="button"] {
  cursor: pointer;
}
