@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ak-blue: #18D1FF;
    --ak-deep-blue: #0691CD;
    --light-mid-gray: #9A9A9A;
    --light-gray: #D9D9D9;
    --mid-gray: #4E4E4E;
    --dark-gray: #242424;
    --black-gray: #181818;
    --ak-purple: #D533EB;
    --ak-dark-purple: #B116BF;
    --ak-red: #EB3333;
    --ak-dark-red: #C21619;
    --ak-pink: #FB7299;
    --semi-black: rgba(0, 0, 0, 0.5);
    --black-gray-70: rgba(24, 24, 24, 0.7);
}

html,
body {
    background: #181818;
    font-size: 16px;
    color: white;
    min-height: 100vh;
}

@layer components {
    /* 自定义滚动条样式 */
    ::-webkit-scrollbar {
        width: 8px; /* 滚动条宽度 */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #676767; /* 滚动条颜色 */
        border-radius: 9999px; /* 圆角效果 */
    }

    ::-webkit-scrollbar-track {
        background-color: #414141; /* 滚动条轨道背景 */
    }

    /* 对于 Firefox */
    scrollbar-width: thin; /* 细滚动条 */
    scrollbar-color: #676767 #414141; /* 滚动条颜色 和 滚动条轨道背景颜色 */
}

@layer base {
    @font-face {
        font-family: 'Novecento';
        font-style: normal;
        font-weight: 400;
        src: url(/fonts/Novecento.woff2) format('woff2');
    }

    @font-face {
        font-family: 'NovecentoWide';
        font-style: normal;
        font-weight: 400;
        src: url(/fonts/NovecentoWide.ttf) format('truetype');
    }

    @font-face {
        font-family: 'HanSans';
        font-style: normal;
        font-weight: 600;
        src: url(/fonts/SourceHanSansCN-Bold.subset.otf) format('otf');
    }

    @font-face {
        font-family: 'HanSerif';
        font-style: normal;
        font-weight: 600;
        src: url(/fonts/SourceHanSerifCN-Bold.subset.otf) format('otf');
    }
}

.font-novecento {
    font-family: 'Novecento', sans-serif;
    font-weight: 400;
}

.font-novecento-wide {
    font-family: 'NovecentoWide', sans-serif;
    font-weight: 400;
}

.font-han-sans {
    font-family: 'HanSans', sans-serif;
}

.font-han-serif {
    font-family: 'HanSerif', sans-serif;
}

.hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}