:root {
    --ak-blue: #18D1FF;
    --ak-deep-blue: #0691CD;
    --light-mid-gray: #9A9A9A;
    --light-gray: #D9D9D9;
    --mid-gray: #444444;
    --dark-gray: #242424;
    --black-gray: #181818;
    --ak-purple: #D533EB;
    --ak-red: #EB3333;
    --ak-pink: #FB7299;
    --semi-black: rgba(0, 0, 0, 0.5);
}