:root {
    --ak-blue: #18D1FF;
    --ak-deep-blue: #0691CD;
    --light-gray: #D9D9D9;
    --light-mid-gray: #9A9A9A;
    --mid-gray: #4E4E4E;
    --dark-gray: #242424;
    --black-gray: #181818;
    --ak-purple: #D533EB;
    --ak-dark-purple: #B116BF;
    --ak-red: #EB3333;
    --ak-dark-red: #C21619;
    --ak-pink: #FB7299;
    --semi-black: rgba(0, 0, 0, 0.5);
    --black-gray-70: rgba(24, 24, 24, 0.7);
}